/local.properties

# for gradle, IDEA
.gradle
.idea
build
*.iml

# key
release.gradle

# properties
app/version.properties

captures
.DS_Store

#for google services, for push notifications
app/google-services.json
